@charset "UTF-8";

*,:after,:before{
  -webkit-box-sizing:inherit;
  box-sizing:inherit;
}

header,menu,nav{display:block}
a{
  background-color:transparent;
  -webkit-text-decoration-skip:objects;
  cursor: pointer;
}
a:active,a:hover{outline-width:0}

.container{padding:0 5%;margin:0 auto}

.nav-wrapper .main-nav .menu-main-nav-container ul.menu li,
.nav-wrapper-mobile .menu-main-nav-container ul.mobile-nav-menu li{
  font-weight:700;
  font-style:normal;
  opacity:0;
  -webkit-transition:.3s;
  -o-transition:.3s;
  transition:.3s
}
.nav-wrapper .main-nav .menu-main-nav-container ul.menu .wf-active li,
.nav-wrapper-mobile .menu-main-nav-container ul.mobile-nav-menu .wf-active li,
.wf-active .nav-wrapper .main-nav .menu-main-nav-container ul.menu li,
.wf-active .nav-wrapper-mobile .menu-main-nav-container ul.mobile-nav-menu li{
  opacity:1;
}


a{color:#ff163c;text-decoration:none}
a:hover{color:#c90021}
a:active,a:focus{color:#c90021;outline:0}

.nav-wrapper{
  position:fixed;
  z-index:99;width:100%;
  -webkit-transition:all .5s ease-in-out;
  -o-transition:all .5s ease-in-out;
  transition:all .5s ease-in-out;
  transform:translateZ(0);
  -webkit-transform:translateZ(0)
}
@media (max-width:767px){.nav-wrapper{position:absolute}}

.nav-wrapper .main-nav{
  -webkit-transition:all .3s;
  -o-transition:all .3s;transition:all .3s;display:grid;grid-template-columns:107px auto;grid-gap:20px;
  padding:24px 0;
}
.nav-wrapper .main-nav #mainLogo{max-width:100%;height:auto}
.nav-wrapper .main-nav #mainLogo path{fill:#fff}.nav-wrapper .main-nav .menu-main-nav-container{justify-self:right}
.nav-wrapper .main-nav .menu-main-nav-container ul.menu{list-style-type:none;margin:10px 0 0 0;float:right}
.nav-wrapper .main-nav .menu-main-nav-container ul.menu li{
  display:inline-block;
  padding:0 23px;
  text-transform:uppercase;
  font-size:13px;
  letter-spacing:.8px;
  -webkit-transition:all .3s;
  -o-transition:all .3s;transition:all .3s;
}
.nav-wrapper .main-nav .menu-main-nav-container ul.menu li a{color:#fff}
.nav-wrapper .main-nav .menu-main-nav-container ul.menu li:after{
  content:"";
  width:0%;
  height:2px;
  background:#fff;
  display:block;
  -webkit-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
  left:50%;
  position:relative;
}
.nav-wrapper .main-nav .menu-main-nav-container ul.menu li.current-menu-item:after,
.nav-wrapper .main-nav .menu-main-nav-container ul.menu li:active:after,
.nav-wrapper .main-nav .menu-main-nav-container ul.menu li:focus:after,
.nav-wrapper .main-nav .menu-main-nav-container ul.menu li:hover:after{left:0;width:100%}
@media (max-width:767px){.nav-wrapper .main-nav .menu-main-nav-container ul.menu li{display:none}}

.nav-wrapper .main-nav .menu-main-nav-container ul.menu li.mobile-nav--expand{
  display:none;padding-right:0;
  -webkit-transition:none;
  -o-transition:none;
  transition:none;
}
.nav-wrapper .main-nav .menu-main-nav-container ul.menu li.mobile-nav--expand:after{display:none}
@media (max-width:767px){.nav-wrapper .main-nav .menu-main-nav-container ul.menu li.mobile-nav--expand{display:block}}

.nav-wrapper.sticky .main-nav{padding:12px 0}
@media (min-width:768px){
  .nav-wrapper.sticky{background:#fff}
  .nav-wrapper.sticky .main-nav #mainLogo path{fill:#000}
  .nav-wrapper.sticky .main-nav .menu-main-nav-container ul.menu li a{color:#000}
  .nav-wrapper.sticky .main-nav .menu-main-nav-container ul.menu li:after{background:#000}
}
@media (max-width:767px){.nav-wrapper.sticky{-webkit-box-shadow:none;box-shadow:none}}

.nav-wrapper.on_white .main-nav #mainLogo path{fill:#fff}
.nav-wrapper.on_white .main-nav ul.menu li a{color:#fff}
.nav-wrapper.on_white .main-nav ul.menu li:after{background:#000}
.mobile-nav--expand{list-style-type:none;display:none;cursor:pointer}
.mobile-nav--expand .menu__expand .menu_dot{
  display:inline-block;
  width:4px;
  height:4px;
  border-radius:50%;
  background-color:#fff;
}

.page-template-page-work-landing .main-nav .mobile-nav--expand .menu__expand .menu_dot{background-color:#000}
.nav-wrapper-mobile .mobile-nav{
  display:none;
  position:fixed;
  z-index:9999999;
  position:fixed;
  top:-40px;
  left:0;
  min-height:40px;
  background:#fff;
  width:100%;
  -webkit-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;transition:all .5s ease-in-out;
}
@media (max-width:767px){.nav-wrapper-mobile .mobile-nav{display:block}}

.nav-wrapper-mobile .mobile-nav.sticky{top:0}
.nav-wrapper-mobile .menu-main-nav-container{float:right;justify-self:right;width:100%}
.nav-wrapper-mobile .menu-main-nav-container ul.mobile-nav-menu{
  list-style-type:none;
  margin:0;
  padding:0;
  width:100%;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-line-pack:stretch;
  align-content:stretch
}
.nav-wrapper-mobile .menu-main-nav-container ul.mobile-nav-menu li{
  -webkit-box-flex:1;
  -ms-flex-positive:1;
  flex-grow:1;
  text-align:center;
  text-transform:uppercase;
  font-size:11px;
  width:auto;
  line-height:40px;
}
.nav-wrapper-mobile .menu-main-nav-container ul.mobile-nav-menu li:first-child{
  width:40px;
  -webkit-box-flex:0;
  -ms-flex-positive:0;
  flex-grow:0;
}
.nav-wrapper-mobile .menu-main-nav-container ul.mobile-nav-menu li:last-child{border-right:none}
.nav-wrapper-mobile .menu-main-nav-container ul.mobile-nav-menu li a{color:#000}
.nav-wrapper-mobile .menu-main-nav-container ul.mobile-nav-menu li.current-menu-item{background:#fff}
.nav-wrapper-mobile .menu-main-nav-container ul.mobile-nav-menu li.mobile-nav--logo{
  background:#000;
  border-right:none;
  text-align:center;
}
.nav-wrapper-mobile .menu-main-nav-container ul.mobile-nav-menu li.mobile-nav--logo a{display:block}
.nav-wrapper-mobile .menu-main-nav-container ul.mobile-nav-menu li.mobile-nav--logo img{
  vertical-align:top;
  width:28px;
  height:28px;
  top:6px;
  position:relative;
}
.nav-wrapper-mobile .menu-main-nav-container ul.mobile-nav-menu li.mobile-nav--expand{display:none}
@media (max-width:374px){
  .nav-wrapper-mobile .menu-main-nav-container ul.mobile-nav-menu li:nth-child(2){display:none}
  .nav-wrapper-mobile .menu-main-nav-container ul.mobile-nav-menu li:nth-child(5){display:none}
  .nav-wrapper-mobile .menu-main-nav-container ul.mobile-nav-menu li.mobile-nav--expand{display:block}
}

.mobile_menu__expanded{
  display:none;position:fixed;width:100%;height:100%;top:0;left:0;z-index:999999997}
.mobile_menu__expanded .mobile_menu__expanded-circle{
  position:absolute;background:black;width:20px;height:20px;border-radius:50%;top:0;right:0}
.mobile_menu__expanded .mobile_menu__expanded-bg{
  opacity:0;position:fixed;width:100%;height:100vh;background:black;left:0;top:0}
.mobile_menu__expanded #mobile_menu__expanded-close{position:absolute;top:20px;right:8px;z-index:999999999;width:30px;height:30px}
.mobile_menu__expanded #mobile_menu__expanded-close span{-webkit-transform-origin:50% 50%;-ms-transform-origin:50% 50%;transform-origin:50% 50%;width:20px;height:4px;display:block;background:#fff;position:absolute;opacity:0}
.mobile_menu__expanded.from_main #mobile_menu__expanded-close{top:44px;right:8px}
.mobile_menu__expanded.expanded{display:block}
.mobile_menu__expanded .mobile-expanded-menu{position:fixed;z-index:999999998;list-style-type:none;margin:0;padding:0;max-width:90%;left:0;right:0;margin:0 auto;top:40px}
.mobile_menu__expanded .mobile-expanded-menu li{display:none;opacity:0;font-family:proxima-nova,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;font-weight:700;font-style:normal;text-transform:uppercase;width:auto;margin:10px 20px;text-align:left;border-color:#fff;font-size:20px}
.mobile_menu__expanded .mobile-expanded-menu li a{color:#fff}
.mobile_menu__expanded .mobile-expanded-menu li:after{clear:both}
@media (max-width:767px){.breadcrumbs{display:none}}
