*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "segoeuisl";
  src: url('./fonts/segoeuisl.ttf');
}
@font-face {
  font-family: "segoeui";
  src: url('./fonts/segoeui.ttf');
}
@font-face {
  font-family: "segoeuib";
  src: url('./fonts/segoeuib.ttf');
}
@font-face {
  font-family: "seguibl";
  src: url('./fonts/seguibl.ttf');
}


body {
  font-family: "segoeui";
}
.portofolio {
  color: white;
  background: radial-gradient(rgba(255, 207, 114, 1), rgba(221, 146, 0, 1));
}
main{
  border: 1px solid;
}
.page {
  min-height: 90vh;
  margin-top: 90px;
  display: grid;
  grid-template-columns: 5% 1fr 1fr 1fr 5%;
}


.hero {
  overflow: hidden;
  height: 600px;
  align-self: center;
  justify-self: center;
  display: flex;
}
.hero img {
  height: 600px;
  transition: transform 0.3s ease-out;
  cursor: pointer;
}
.hero a {
  display: flex;
}


.details {
  grid-column: 2/3;
  align-self: end;
}
.details h1 {
  font-size: 36px;
  font-family: "segoeuib";
}
.details p {
  font-size: 20px;
  padding: 20px 0px 50px 0px;
}

.pages {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}
.pages > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pages h3 {
  padding: 20px;
}

.pages svg {
  cursor: pointer;
  opacity: 0.5;
  transform: scale(1.2);
}
.pages svg:hover {
  animation: dot 0.5s ease-in-out infinite alternate;
}

.pages svg.active {
  opacity: 1;
}

.content{
  min-height: 65vh;
  padding-left: 5%;
  padding-right: 5%;
  margin: auto;
}
.content .title {
  text-align: center;
  font-family: "segoeuib";
  font-size: 30px;
  letter-spacing: 2px;
  padding: 50px 0px 10px 0px ;
  color: black;
}
.content .subtitle{
  text-align: center;
  font-family: "segoeui";
  font-size: 20px;
  padding-top: 10px;
  color: gray;
}

.content .container-all{
  margin: 50px auto 0;
  border: 1px solid red;
  text-align: center;
}
.content .container-img{
  display: inline-block
}
.content img{
  width: 310px;
  height: 310px;
  padding: 20px 100px;
}
.content #pop{
  width: 500px
  height:
}

@media (max-width: 1024px) {
  .page {
    grid-template-columns: 5% 1fr 5%;
    grid-template-rows: 2fr 1fr;
    align-items: center;
  }
  .hero {
    grid-column: 2/3;
    height: auto;
  }
  .hero img {
    height: 500px;
  }
  .details {
    grid-row: 2/3;
    grid-column: 2/3;
    text-align: center;
  }
  .details h1 {
    font-size: 36px;
  }

}

@media (max-width: 768px) {
  .hero img {
    height: 400px;
  }
  .details h1 {
    font-size: 30px;
  }
}
